/* General Layout */
.layout {
    display: flex;
    height: 80vh;
  }
  
  .listSection {
    padding: 20px;
    background-color: #3d3c3f;
    color: #fff;
    border-radius: 8px;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .studentBtn {
    padding: 10px 20px;
    background-color: #4a5dab;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .studentBtn:hover {
    background-color: #35468a;
  }
  
  .rounded-md {
    border-radius: 8px;
  }
  
  .border {
    border: 1px solid #ccc;
  }
  
  /* Table Container (for scrolling) */
  .table-container {
    max-height: 400px; /* Set this to the height you want */
    overflow-y: auto;  /* Enable vertical scrolling */
    width: 100%;
  }

  .table-container::-webkit-scrollbar {
    width: 8px;
  }
  
  .table-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }
  
/* Ensure selected rows are highlighted */
.selected {
    background-color: #4a5dab; /* Color for selected row */
    color: white; /* Text color when selected */
  }
  
  .selected:hover {
    background-color: #35468a; /* Optional: Add a darker shade for hover when selected */
  }
  
  /* Optional: You can add a smooth transition effect */
  .selected {
    transition: background-color 0.3s ease;
  }
  